/* 
&display=swap
&subset=cyrillic-ext 
*/

/* ОБНУЛЕНИЕ СТИЛЕЙ */
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap&subset=cyrillic-ext");
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 50px;
	background-image: url("../img/fon2.jpg");
	background-attachment: fixed;
}
/* ------------------------------ */
h1 {
	font-size: 40px;
	text-align: center;
	color: #ff4500;
	margin-bottom: 50px;
}
.page {
	background-image: url("../img/fon.png");
	padding: 10px;
}
.block {
	background-color: #556b2f;
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.block3 {
	background-color: #8a2be2;
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.block4 {
	background-color: rgba(210, 105, 30, 0.5);
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.probel {
	background-color: #daa520;
	height: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
	background-position: center 0;
}
.block2 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffff00;
	background-image: url("../img/unnamed.png");
	background-repeat: no-repeat;
	background-position: right center;
}
.block5 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffff00;
	background: linear-gradient(
		135deg,
		#7f3e15 20%,
		#461aa5 55%,
		#f7274d 81%,
		#abdc28 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.block6 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffff00;
	background: radial-gradient(
		ellipse at center,
		#51e026 16%,
		#25ede6 43%,
		#3d1a09 71%,
		#ff3030 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.block7 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffff00;
	background-image: url("../img/gora.jpg");
	background-repeat: repeat;
}
.block8 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffff00;
	background-image: url("../img/gora.jpg");
	background-repeat: no-repeat;
}
.block9 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffff00;
	background-image: url("../img/gora.jpg");
	background-repeat: repeat-x;
}
.block10 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffff00;
	background-image: url("../img/gora.jpg");
	background-repeat: repeat-y;
}
.block11 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffff00;
	background-image: url("../img/gora.jpg");
	background-repeat: space;
}
.block12 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffff00;
	background-image: url("../img/gora.jpg");
	background-repeat: round;
}
.block13 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffff00;
	background-image: url("../img/accumulator.png");
	background-position: left;
	background-repeat: no-repeat;
}
.block14 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffff00;
	background-image: url("../img/accumulator.png");
	background-position: right;
	background-repeat: no-repeat;
}
.block15 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffff00;
	background-image: url("../img/accumulator.png");
	background-position: center;
	background-repeat: no-repeat;
}
.block16 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffff00;
	background-image: url("../img/accumulator.png");
	background-position: top;
	background-repeat: no-repeat;
}
.block17 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffff00;
	background-image: url("../img/accumulator.png");
	background-position: bottom;
	background-repeat: no-repeat;
}
.block18 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffff00;
	background-image: url("../img/accumulator.png");
	background-position: 20% 40%;
	background-repeat: no-repeat;
}
.block19 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffff00;
	background-image: url("../img/accumulator.png");
	background-position: 50px 80px;
	background-repeat: no-repeat;
}
.block20 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffff00;
	background-image: url("../img/ozero.jpg");
	background-size: 100% 50%;
	background-repeat: no-repeat;
}
.block21 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffff00;
	background-image: url("../img/ozero.jpg");
	background-size: 50% 100%;
	background-repeat: no-repeat;
}
.block22 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffff00;
	background-image: url("../img/ozero.jpg");
	background-size: 200px auto;
	background-repeat: no-repeat;
}
.block23 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffff00;
	background-image: url("../img/ozero.jpg");
	background-size: auto 70%;
	background-repeat: no-repeat;
}
.block24 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffff00;
	background-image: url("../img/ozero.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}
.block25 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffff00;
	background-image: url("../img/ozero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.block26 {
	color: antiquewhite;
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-image: url("../img/graham-holtshausen-fUnfEz3VLv4-unsplash.jpg");
	background-attachment: fixed;
}
.block27 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background: #3d1a09 url("../img/pole.jpg") no-repeat 50% 100%;
}
.block28 {
	padding: 10px;
	width: 800px;
	font-size: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background: url("../img/accumulator.png") 0 0 no-repeat, url("../img/pole.jpg") 100% 50% no-repeat,
		linear-gradient(to right, #a90329 0%, #023093 23%, #21e004 45%, #f21804 66%, #e804f4 84%, #6d0019 100%);
}
li {
	min-width: 200px;
	font-size: 20px;
	background-color: chartreuse;
	background-image: url("../img/Overline\ Mark.png");
	background-repeat: no-repeat;
	margin: 0px 0px 20px 20px;
	background-position: 95% 50%;
	min-width: 150px;
}
.blockcontact {
	width: 237px;
	min-height: 200px;
	background-color: #f5f5f5;
	margin-bottom: 20px;
}
.contact {
	font-family: "Roboto";
	font-weight: 700;
	color: #4b4b4b;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.15px;
}
.adress {
	margin: 0px 0px 16px 0px;
	padding: 0px 0px 10px 35px;
	font-family: "Roboto";
	font-weight: 400;
	color: #4b4b4b;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.15px;
	background: url("../img/place_24px.png") 0 0 no-repeat;
}
.phone {
	margin: 0px 0px 16px 0px;
	padding: 0px 0px 0px 35px;
	font-family: "Roboto";
	font-weight: 400;
	color: #4b4b4b;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.15px;
	background: url("../img/smartphone_24px.png") 0 0 no-repeat;
}
.mail {
	margin: 0px 0px 16px 0px;
	padding: 0px 0px 0px 35px;
	font-family: "Roboto";
	font-weight: 400;
	color: #4b4b4b;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.15px;
	background: url("../img/email_24px.png") 0 0 no-repeat;
}
.hours {
	margin: 0px 0px 17px 0px;
	padding: 0px 0px 0px 35px;
	font-family: "Roboto";
	font-weight: 400;
	color: #4b4b4b;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.15px;
	background: url("../img/timer_24px.png") 0 0 no-repeat;
}
.service {
	padding-top: 280px;
	padding-left: 210px;
	width: 1440px;
	min-height: 800px;
	background-image: url("../img/BG\ Image.png");
	margin-bottom: 20px;
}
.servicecontent {
}
.text {
	margin-bottom: 48px;
	margin-right: 647px;
	width: 583px;
	min-height: 112px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 56px;
	line-height: 56px;
	color: #ffffff;
}
.button {
	width: 211px;
	min-height: 48px;
	background: url("../img/arrow_forward_24px.png") 95% 50% no-repeat, url("../img/BG.png") 100% 0 no-repeat #c40b0b;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 16px 40px 14px 20px;
	border-radius: 2px;
	min-height: 42px;
}
.works {
	padding-top: 112px;
	padding-left: 210px;
	width: 1440px;
	min-height: 688px;
	background: #02133c url("../img/overlay\ image.png") 0 50% no-repeat;
	margin-top: -250px;
}
.imagecar {
	width: 498px;
	height: 315px;
	margin-left: 732px;
}
.ourimpact {
	width: 411px;
	min-height: 129px;
	margin-bottom: 79px;
}
.icontext {
	padding-left: 33px;
	margin-bottom: 32px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #d5d5d5;
	background: url("../img/Overline\ Mark.png") 0 50% no-repeat;
}
h2 {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #ffffff;
}
.image4 {
}
h3 {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #c40b0b;
}
h4 {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #f5f5f5;
}
.oil {
	width: 237px;
	padding-left: 90px;
	min-height: 76px;
	display: inline-block;
	vertical-align: top;
	background: url("../img/car_oil-24x.png") 0 0 no-repeat;
}
.gear {
	width: 237px;
	padding-left: 90px;
	min-height: 76px;
	display: inline-block;
	vertical-align: top;
	background: url("../img/car_transmission_24x.png") 0 0 no-repeat;
}
.tires {
	width: 237px;
	padding-left: 90px;
	min-height: 76px;
	display: inline-block;
	vertical-align: top;
	background: url("../img/car_alignment_24x.png") 0 0 no-repeat;
}
.engine {
	width: 237px;
	padding-left: 90px;
	min-height: 76px;
	display: inline-block;
	vertical-align: top;
	background: url("../img/car_engine_2_24x.png") 0 0 no-repeat;
}
